<a href="https://colab.research.google.com/github/harshitakilari/Melbourne_housing/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#             Melbourne Housing Snapshot - kaggle

**Task**: To analyze and find the insight or predict the resonable price.

In [47]:
import pandas as pd

In [48]:
df=pd.read_csv("/content/melb_data.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0



*  The dataset includes Address, Type of Real estate, Suburb, Method of Selling, Rooms, Price, Real Estate Agent, Date of Sale and distance from C.B.D.




**Notes on Specific Variables**



1.   Rooms: Number of rooms

2.   Price: Price in dollars

1.   Method: S - property sold; SP - property sold prior; PI - property
      passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available.

2.   Type: br - bedroom(s); h - house,cottage,villa, semi,terrace; u -
      unit, duplex; t - townhouse; dev site - development site; o res - other residential.

1.   SellerG: Real Estate Agent

2.   Date: Date sold

1.   Distance: Distance from CBD

2.   Regionname: General Region (West, North West, North, North east…etc)

1.   Propertycount: Number of properties that exist in the suburb.

2.   Bedroom2 : Scraped # of Bedrooms (from different source)

1.   Bathroom: Number of Bathrooms

2.   Car: Number of carspots

1.   Landsize: Land Size

2.   BuildingArea: Building Size

1.   CouncilArea: Governing council for the area

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [50]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

  1.we can delete the columns which have null values

In [51]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [52]:
columns_with_nullval=[c for c in df.columns if df[c].isnull().any()]
reduced_df=df.drop(columns_with_nullval,axis=1)

In [53]:
reduced_df.shape

(13580, 17)

In [54]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Landsize       13580 non-null  float64
 13  Lattitude      13580 non-null  float64
 14  Longtitude     13580 non-null  float64
 15  Regionname     13580 non-null  object
 16  Propertycount  13580 non-null  float64
dtypes: float64(9), int64(1), object(7)
memory usage: 1.8+ MB

But columns (BuildingArea-6450,YearBuilt-5375,CouncilArea-1369,Car-62) have less nullvalues so we can use other method;

2.we can fill the nullvalues with an float value for columns like car, buildingArea, yearbuilt as the data is in float type.

In [55]:
df['BuildingArea'].describe()

count     7130.000000
mean       151.967650
std        541.014538
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64

In [56]:
df['BuildingArea'].median()

126.0

In [57]:
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].median())

In [58]:
df['BuildingArea'].isnull().sum()

0

In [59]:
df['YearBuilt'].describe()

count    8205.000000
mean     1964.684217
std        37.273762
min      1196.000000
25%      1940.000000
50%      1970.000000
75%      1999.000000
max      2018.000000
Name: YearBuilt, dtype: float64

In [60]:
df['YearBuilt'].median()

1970.0

In [61]:
#the meadian of the all years at which the property is built is 1970
df['YearBuilt']=df['YearBuilt'].fillna(df['YearBuilt'].median())

In [62]:
df['YearBuilt'].isnull().sum()

0

In [63]:
df['Car'].describe()

count    13518.000000
mean         1.610075
std          0.962634
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         10.000000
Name: Car, dtype: float64

In [64]:
df['Car']=df['Car'].fillna(df['Car'].median())

In [65]:
df['Car'].isnull().sum()

0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [67]:
#as CouncilArea is an object
df['CouncilArea'].unique()

array(['Yarra', 'Moonee Valley', 'Port Phillip', 'Darebin', 'Hobsons Bay',
       'Stonnington', 'Boroondara', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', nan, 'Knox',
       'Maroondah', 'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik',
       'Whittlesea', 'Frankston', 'Macedon Ranges', 'Yarra Ranges',
       'Wyndham', 'Cardinia', 'Unavailable', 'Moorabool'], dtype=object)

In [68]:
df['CouncilArea'].value_counts()

Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: CouncilArea, dtype: int64

In [69]:
df['CouncilArea']=df['CouncilArea'].fillna('Moreland')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  float64
 16  CouncilArea    13580 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

outlier detection:(Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize ,BuildingArea) but for a decision tree model the outliers does not effect the final output .

selecting the prediction target:

In [71]:
pred=['Price']
Y=df[pred]

In [72]:
Y.head()

       Price
0  1480000.0
1  1035000.0
2  1465000.0
3   850000.0
4  1600000.0

Choosing the features for prediction:

In [91]:
features=['Rooms','Bathroom','Car','Lattitude','Longtitude']
X=df[features]

In [92]:
X.describe()

              Rooms      Bathroom           Car     Lattitude    Longtitude
count  13580.000000  13580.000000  13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242      1.611856    -37.809203    144.995216
std        0.955748      0.691712      0.960793      0.079260      0.103916
min        1.000000      0.000000      0.000000    -38.182550    144.431810
25%        2.000000      1.000000      1.000000    -37.856822    144.929600
50%        3.000000      1.000000      2.000000    -37.802355    145.000100
75%        3.000000      2.000000      2.000000    -37.756400    145.058305
max       10.000000      8.000000     10.000000    -37.408530    145.526350

In [93]:
X.head()

   Rooms  Bathroom  Car  Lattitude  Longtitude
0      2       1.0  1.0   -37.7996    144.9984
1      2       1.0  0.0   -37.8079    144.9934
2      3       2.0  0.0   -37.8093    144.9944
3      3       2.0  1.0   -37.7969    144.9969
4      4       1.0  2.0   -37.8072    144.9941

# Building the model

The steps to building and using a model are:

**Define**: What type of model will it be? A decision tree? Some other type of
  model? Some other parameters of the model type are specified too.

**Fit**: Capture patterns from provided data. This is the heart of modeling.

**Predict**: Just what it sounds like

**Evaluate**: Determine how accurate the model's predictions are.

In [94]:
from sklearn.tree import DecisionTreeRegressor

model=DecisionTreeRegressor(random_state=1)

model.fit(X,Y)

DecisionTreeRegressor(random_state=1)

In [95]:
#predictiong the price for a house
pred=model.predict(X.head())
print(pred)

[1480000. 1035000. 1465000.  850000. 1600000.]

In [98]:
model.score(X,Y)

0.9997142501009169

our model now have a score of 0.999 .
lets predict the price for the following example:

In [96]:
data={'Rooms':[2.0,1.0,3.0],'Bathroom':[2.0,1.0,2.0],'Car':[1.0,2.0,2.0],'Lattitude':[-37.523,-37.98,-37.1],'Longtitude':[144.03,143.78,145.2]}
df1=pd.DataFrame(data)
df1

   Rooms  Bathroom  Car  Lattitude  Longtitude
0    2.0       2.0  1.0    -37.523      144.03
1    1.0       1.0  2.0    -37.980      143.78
2    3.0       2.0  2.0    -37.100      145.20

In [97]:
print(model.predict(df1))

[360000. 310000. 547000.]